{% extends "base.html" %}

{% load bootstrap %}


{% block page_content %}
    <div class="page-header">
        <h1 class="text-gradient">Hello {{ request.user.username }} user!</h1>
    </div>

    {% for message in messages %}
        <div id="message" class="alert alert-warning fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>

        {% if message.tags == "success" %}
            <script>document.getElementById('message').className = "alert alert-success fade in";</script>
        {% endif %}
    {% endfor %}

    {% for error in  form.non_field_errors %}
        <div id="message" class="alert alert-warning fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ error }}
        </div>
    {% endfor %}

    <form action="" method="post">
        {% csrf_token %}

        <div style="display: inline-block;">
            {% if request.user.is_superuser %}
                <h4>Please select tenant for your report:</h4>
                {{ form.tenant|bootstrap }}
                <br>
            {% endif %}

            <h4>Please select date range for your report:</h4>
            <div class='input-group date'>
                {{ form.start_date|bootstrap }}
                {{ form.end_date|bootstrap }}
            </div>
        </div>

        {% if request.user.username == 'Jisc' %}
            <div class="button-group">
                <br>
                <input class="btn btn-default" id="cdr_report" name="report" type="submit" value="Download CDR Report">
            </div>
        {% else %}
            <br><h4>Please select type of report:</h4>

            <div class="btn-group">
                <input class="btn btn-default" id="user_stats" name="report" type="submit" value="User Stats">
                <input class="btn btn-default" id="room_stats" name="report" type="submit" value="Room Stats">
                <input class="btn btn-default" id="calls_per_day" name="report" type="submit" value="Calls per day">
                <input class="btn btn-default" id="concurrent_lines" name="report" type="submit"
                       value="Maximum concurrent lines">

                {% if request.user.username == 'ActionAid' %}
                    <input class="btn btn-default" id="calls_by_country" name="report" type="submit"
                           value="Calls by country">
                {% endif %}

                <input class="btn btn-default" id="platform_stats" name="report" type="submit" value="Platform Stats">
                <input class="btn btn-default" id="os_stats" name="report" type="submit" value="OS Stats">
            </div>
        {% endif %}
    </form>


    <br><br><br>
    <footer class="footer">
        <p>For technical issues please contact <a href="https://support.ajenta.net">Ajenta support.</a></p><br>
        <p>&copy; Ajenta 2016</p>
    </footer>


    </form>

{% endblock %}

