{% extends "base.html" %}

{% block title %}Ajenta Vidyo Dashboard - Concurrent VidyoGateway ports{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1 class="text-gradient">Hello {{ request.user.username }} user!</h1>
    </div>

    <h3>Current Vidyo calls</h3>
    <h5>There are <b>{{ current_calls }}</b> Vidyo calls for {{ username }} currently in place.</h5><br>


    <a href="{% url 'index' %}">
        <button class="btn btn-default" type="button">Back</button>
    </a>

{% endblock %}